
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Fake News Detector</title>
<link href="https://fonts.googleapis.com/css?family=Roboto|Courgette|Pacifico:400,700" rel="styles">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

<!-- 
<link rel="stylesheet" href="/static/css/styles.css">
<link rel="shortcut icon" type="image/png" href="/static/img/movies2.jpg"/> -->

</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 m-auto">
			<div class="contact-form">
        <br>    
        <img src="/static/img/fake-news.svg" style="pad 500px; ">
        <h1 style="text-align: center">Fake News Detector</h1>
				<form action='/results' method='get' style="text-align:center">               
          <br>
          <br><br>
          <label for="inputSubject" style="font-size:18pt">Which news do you want to check?</label>
          
					<br><br>
						<textarea class="form-control" name="news" rows="5" required></textarea>
          </div>
          <br><br>
          <div class="six columns" style="text-align:center">
            <label for="exampleRecipientInput"></label>Select the model:</label>
            <select class="u-full-width" id="ModelInput" name="ModelInput">
              <option value="Option 1">Naive Bayes</option>
              <option value="Option 2">Random Forest Classifier</option>
              <option value="Option 3">Decision Tree Classifier</option>
              <option value="Option 4">Logistic Regression Classifier</option>
            </select>
          </div>
          <br><br>
					<div class="text-center">
            <input type="submit" value="Fake or Real?" class="button-primary">
          </div>             
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>                            
